@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*:focus {
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.general-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.color-white {
  color: white;
}

button {
  cursor: pointer;
}

/* @media only screen and (max-width: 600px) {

} */

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  max-width: 600px;
  margin: 0;
  padding: 0;
}

.loading-img {
  position: absolute; 
  left: 0; 
  right: 0;
  margin: auto;
  width: 300px;
}

.bgImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(2px) brightness(60%) contrast(1);
}

/* Nav bar */

.burger-menu {
  position: absolute;
  margin-left: 20px;
}

.burger-menu > button > img {
  width: 45px;
}

.nav-control {
  position: fixed;
  top: 0;
  padding-left: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: rgba(53, 53, 53, 0.673);
  backdrop-filter: blur(10px);
  z-index: 3;
}

.Nav-logo {
  padding-top: 30px;
  font-size: 2rem;
  color: white;
}

.nav-content {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  max-width: fit-content;
}

.nav-link img {
  width: 35px;
}

.userIcon {
  filter: invert();
}

.logout-btn {
  color: rgb(255, 62, 28);
  font-size: 1.4rem;
}

.logout-btn > img {
  filter: invert(45%) sepia(65%) saturate(7441%) hue-rotate(360deg) brightness(112%) contrast(124%);
}

/* Home Page */

.home {
  margin: 20px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.userIconHome {
  position: absolute;
  width: 43px;
  top: 0;
  right: 20px;
}


.base-logo {
  width: max-content;
  height: 60px;
  text-align: center;
  font-size: x-large;
}

.create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(89, 89, 89);
  color: white;
}

.tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search {
  position: relative;
  border-radius: 25px;
  width: 100%;
  display: flex;
  background-color: white;
  display: flex;
  align-items: center;
}

.search > input {
  width: 100%;
  padding-left: 50px;
  border-radius: 25px;
}

.search img {
  position: absolute;
  width: 30px;
  display: block;
  left: 10px;
}


