.nav {
  position: fixed;
  bottom: 0;
  border: 2px solid rgb(171, 3, 3);
  padding: 10px 45px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-color: rgba(143, 143, 143, 0.934);
}

.page-title {
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: xx-large;
}

.general-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
