@media only screen and (max-width: 600px) {

  .room-container {
    margin: 20px 20px 0px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .roomController {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .roomController > h1 {
    font-size: 1.5rem;
  }

  .roomController > button {
    margin-top: 10px;
    padding: 5px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
  }

  .messages {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .eachChat {
    padding: 10px 0;
  }

  .eachChat > h2 {
    padding-left: 5px;
  }

  .fromWho {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .fromWho > img {
    width: 30px;
  }

  /* send message */
  .send-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(135, 135, 135);
  }

  .send-container > form > input {
    width: 80%;
    height: 40px;
  }

  .sendBtn {
    display: flex;
    gap: 20px;
  }
  
  .sendBtn-icon {
    width: 40px ;
  }
}
