@media only screen and (max-width: 600px) {
  .profile-container {
    height: 100%;
    width: 100%;
    margin-top: 25px;
    padding-top: 55px;
  }

  .profile-controller {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
  }

  .detail-message-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .user {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    gap: 10px;
    justify-content: space-between;
  }

  .user-only {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    gap: 10px;
  }
  .user > h1 {
    padding-top: 8px;
  }
  .user-only > img {
    height: 35px;
  }
  .user-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
  }
  
  .userBtns {
    padding: 7px 25px;
    border-radius: 25px;
    border: 2px solid black;
    color: black;
    font-size: 1.1rem;
  }

  .createBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(89, 89, 89);
    color: white;
  }
  

}
